<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
    <p>Thanks for signing up!</p>
    <p>Your user ID is {{.userID}}.</p>

    <p>Please go to /users/activate and paste this activation token: {{.activationToken}}</p>
    <p>The activation will expire in 24 hours.</p>
</body>

</html>
